@font-face {
	font-family: 'Segment LED';
	src: url(./../fonts/DSEG7Classic-Regular.ttf);
}
@font-face {
	font-family: 'Segment LED Modern';
	src: url(./../fonts/DSEG14Modern-Regular.ttf);
}
@font-face {
	font-family: 'Josephin';
	src: url(./../fonts/JosefinSans-Regular.ttf);
}
@mixin view( $type ) {
	@if($type = desktop) {
		@media (min-width: 950px) {
			@content;
		}
	}
	@elseif($type = tablet) {
		@media (min-width: 650px) {
			@content;
		}
	}
}
* {
	font-family: 'Josephin';
	font-size: 11px;
	line-height: 1.8em;
	@include view(tablet) {
		font-size: 18px;
	}
	@include view(desktop) {
		font-size: 21px;
	}
}
.open-panel-icon {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 35px;
	height: 35px;
	z-index: 2;
	cursor: pointer;
	@include view(tablet) {
		top: 25px;
		right: 25px;
		width: 45px;
		height: 45px;
	}
}
.panel {
	position: fixed;
	inset: 0;
	z-index: -1;
	opacity: 0;
	transition: .3s;
	background-color: #ccc;
	padding: 45px;
	&--open {
		z-index: 1;
		opacity: 1;
	}
	&__add, &__delete {
		padding: 15px;
		text-align: center;
	}
}
#timers {
	max-width: 1100px;
	margin: auto;
	div {
		font-family: 'Segment LED Modern';
	}
}
.time {
	font-family: 'Segment LED';
	font-size: 18px;
	text-align: right;
	min-width: 2em;
	display: inline-block;
	@include view(tablet) {
		font-size: 24px;
	}
	@include view(desktop) {
		font-size: 62px;
	}
}