@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  box-sizing: border-box;
	font-family: 'Architects Daughter', cursive;
}
body {
	margin: 0;
}
.container {
	display: flex;
	min-height: 100vh;
	@media (max-width: 600px){
		flex-direction: column;
	}
}
.flex {
	display: flex;
}

.menu {
	width: 350px;
	background-color: #8EB9F5;
}
#content {
	width: 100%;
	background-color: #8898EB
}
.option {
	margin: 15px 0;
}

.margin_classic {
	margin: 25px 45px;
}

.full_width {
	width: 100%;
}
.half_width {
	width: 50%;
}
#time {
	margin-top: 15px;
	text-align: center;
}

canvas {
	background-color: #eee;
	border: 1px solid #333;
	border-radius: 3px;
	margin: 25px;
}
input[type=number]{
	padding: 15px 25px;
}

.generate_btn_container {
	text-align: center;
}
.generate_btn {
	box-shadow: 0px 10px 14px -7px #465A78;
	background:linear-gradient(to bottom, #D9E5F7 5%, #ADB6C4 100%);
	background-color:#D9E5F7;
	border-radius:4px;
	border:1px solid #465A78;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-size:16px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	&:hover {
		background:linear-gradient(to bottom, #ADB6C4 5%, #D9E5F7 100%);
		background-color:#ADB6C4;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

